* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 235);
    /* background-image: -webkit-linear-gradient(top, rgb(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -moz-linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -ms-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -o-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236)); */
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

#progress {
    height: 5px;
    width: 0;
    background-color: rgb(255, 155, 135);
    position: fixed;
    top: 0;
    z-index: 99999;
}

header {
    display: inline-block;
    width: 100%;
    height: 150px;
    text-align: center;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar-nav {
    float: right;
    margin-right: -50px;
    text-align: center;
}

.nav-item {
    margin-left: 1em;
}

#special {
    margin-left: 20px;
    color: rgb(255, 255, 235);
    text-decoration: none;
}

.color {
    color: rgb(255, 255, 235);
}

.color:hover {
    color: rgb(255, 155, 135);
}

h1 {
    margin-top: 100px;
    text-align: center;
}

#gallery {
    width: 100%;
    margin: 50px auto;
    display: inline-flex;
    flex-direction: column;
}

.image {
    width: 200px;
    height: 170px;
    margin: 20px auto;
    padding-left: 10px;
}

@media screen and (max-width: 360px) {
    .bigimage {
        width: 100vw;
        height: 400px;
        margin: 20px auto;
        padding-left: 10px;
    }
}

/* @media screen and (max-width: 1125px) {
    .gallery {
        overflow-x: auto;
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 444px) {
    .gallery .image {
        width: 300px;
        height: 275px;
    }
} */

footer p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}