html {
    direction: rtl;
}

body {
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(255, 255, 235);
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 44px;
}

@media screen and (max-width: 470px) {
    .thanks h1 {
        font-size: 20px;
    }
}

#progress {
    height: 5px;
    width: 0;
    background-color: rgb(255, 155, 135);
    position: fixed;
    top: 0;
    z-index: 99999;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar-nav {
    float: right;
    margin-right: -50px;
    text-align: center;
}

.nav-item {
    margin-left: 1em;
}

#special {
    margin-left: 20px;
    color: rgb(255, 255, 235);
    text-decoration: none;
}

.color {
    color: rgb(255, 255, 235);
}

.color:hover {
    color: rgb(255, 155, 135);
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 290px;
}

@media screen and (max-width: 470px) {
    img {
        width: 200px;
        height: 194px;
    }
}

footer p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}