html {
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-image: -webkit-linear-gradient(top, rgb(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -moz-linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -ms-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -o-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.bookpage {
  margin-top: 0;
}

.bookname {
    width: 100%;
    height: 100px;
    text-align: center;
}

.content {
    padding: 0 30px;
    margin-top: 20px;
    height: 450px;
    display: flex;
}

h1 {
    text-align: center;
}

img {
    width: 270px;
    height: 400px;
}

p {
    margin-top: 15px;
    padding: 0 30px;
}

.links a {
    color: black;
}

.links a:hover {
    color: blue;
    cursor: pointer;
}

form {
    margin-right: 600px;
    width: 50px;
}

@media screen and (max-width: 1125px) {
    .content {
        height: 550px;
    }

    form {
        margin-right: 500px;
    }
}

@media screen and (max-width: 1040px) {
    p {
        font-size: 14px;
    }

    form {
        margin-right: 450px;
    }
}

@media screen and (max-width: 795px) {
    .content {
        height: 650px;
    }
}

@media screen and (max-width: 744px) {
    .content {
        height: 520px;
    }

    p {
        font-size: 12px;
    }

    img {
        width: 202px;
        height: 300px;
    }

    form {
        margin-right: 350px;
    }
}

@media screen and (max-width: 649px) {
    .content {
        height: 620px;
    }
}

@media screen and (max-width: 604px) {
    .bookname {
        margin-bottom: 0;
        height: 70px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }

    .content {
        height: 720px;
        flex-direction: column;
        margin-top: 0;
    }

    img {
        margin-right: 162px;
    }

    p {
        margin-right: 55px;
    }
    
    form {
        margin-right: 247px;
    }
}

@media screen and (max-width: 546px) {
    .bookname {
        margin-bottom: 0;
        height: 70px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }

    .content {
        height: 820px;
        flex-direction: column;
        margin-top: 0;
    }

    img {
        margin-right: 152px;
    }

    p {
        margin-right: 55px;
    }
    
    form {
        margin-right: 242px;
    }
}

@media screen and (max-width: 515px) {
    .content {
        height: 770px;
    }

    img {
        width: 135px;
        height: 200px;
        margin-right: 160px;
    }

    form {
        margin-right: 212px;
    }
}

@media screen and (max-width: 451px) {
    .content {
        height: 820px;
    }

    img {
        margin-right: 130px;
    }

    form {
        margin-right: 190px;
    }
}

@media screen and (max-width: 409px) {
    .bookname {
        height: 60px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .content {
        height: 950px;
    }

    img {
        margin-right: 105px;
    }
    
    form {
        margin-right: 153px;
    }
}

@media screen and (max-width: 368px) {
    body {
        justify-content: center;
        align-items: center;
    }
    .content {
        height: 1035px;
    }

    img {
        margin-right: 95px;
    }

    form {
        margin-right: 145px;
    }
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

footer ul {
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0;
    list-style: none;
    text-align: center;
}

footer li a,
footer li a:active
footer li a:visited {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

footer li a:hover {
    color: purple;
    cursor: pointer;
}

footer p {
    font-size: 12px;
    margin-bottom: 1px;
    text-align: center;
}