* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 235);
    /* background-image: -webkit-linear-gradient(top, rgb(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -moz-linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -ms-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -o-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236)); */
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
    text-align: center;
}

#progress {
    height: 5px;
    width: 0;
    background-color: rgb(255, 155, 135);
    position: fixed;
    top: 0;
    z-index: 99999;
}

.sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;   
}

.nav-bar {
    background-color: rgb(39, 39, 39);
}

.nav-bar #my-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-bar li {
    display: inline-block;
    margin: 20px 20px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 155, 135);
    cursor: pointer;
}

@media screen and (max-width: 531px) {
    li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 444px) {
    li a {
        font-size: 10px;
    }
}

header #title {
    display: inline-block;
}

header h1 {
    margin-top: 100px;
}

@media screen and (max-width: 531px) {
    header h1 {
        font-size: 25px;
    }
}

.wrapper {
    text-align: center;
}

.podcast {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 531px) {
    .podcast span {
        font-size: 16px;
    }
}

.episode {
    margin-right: 530px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1125px) {
    .episode {
        margin-right: 412px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .episode {
        margin-right: 240px;
    }
}

@media screen and (max-width: 531px) {
    .episode {
        margin-right: 125px;
    }
}

@media screen and (max-width: 444px) {
    .episode {
        margin-right: 100px;
    }
}

footer {
    height: 50px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    bottom: 0;
}

footer p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}