html {
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 235);
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;   
}

.nav-bar {
    background-color: rgb(39, 39, 39);
}

.nav-bar #my-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-bar li {
    display: inline-block;
    margin: 20px 20px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 155, 135);
    cursor: pointer;
}

@media screen and (max-width: 531px) {
    li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 444px) {
    li a {
        font-size: 10px;
    }
}

.bookpage {
  margin-top: 0;  
}

.bookname {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.content {
    padding: 0 30px;
    margin-top: 20px;
    height: 450px;
    display: flex;
}

h1 {
    text-align: center;
}

img {
    width: 270px;
    height: 400px;
}

p {
    margin-top: 15px;
    padding: 0 30px;
}

.links a {
    color: black;
}

.links a:hover {
    color: blue;
    cursor: pointer;
}

form {
    margin-right: 600px;
    width: 50px;
}

@media screen and (max-width: 1125px) {
    .content {
        height: 550px;
    }

    form {
        margin-right: 500px;
    }
}

@media screen and (max-width: 1040px) {
    p {
        font-size: 14px;
    }

    form {
        margin-right: 450px;
    }
}

@media screen and (max-width: 795px) {
    .content {
        height: 650px;
    }
}

@media screen and (max-width: 744px) {
    .content {
        height: 520px;
    }

    p {
        font-size: 12px;
    }

    img {
        width: 202px;
        height: 300px;
    }

    form {
        margin-right: 350px;
    }
}

@media screen and (max-width: 649px) {
    .content {
        height: 620px;
    }
}

@media screen and (max-width: 604px) {
    .bookname {
        margin-bottom: 0;
        height: 70px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }

    .content {
        height: 720px;
        flex-direction: column;
        margin-top: 0;
    }

    img {
        margin-right: 162px;
    }

    p {
        margin-right: 55px;
    }
    
    form {
        margin-right: 247px;
    }
}

@media screen and (max-width: 546px) {
    .bookname {
        margin-bottom: 0;
        height: 70px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }

    .content {
        height: 820px;
        flex-direction: column;
        margin-top: 0;
    }

    img {
        margin-right: 152px;
    }

    p {
        margin-right: 55px;
    }
    
    form {
        margin-right: 242px;
    }
}

@media screen and (max-width: 515px) {
    .content {
        height: 770px;
    }

    img {
        width: 135px;
        height: 200px;
        margin-right: 160px;
    }

    form {
        margin-right: 212px;
    }
}

@media screen and (max-width: 451px) {
    .content {
        height: 920px;
    }

    img {
        margin-right: 130px;
    }

    form {
        margin-right: 190px;
    }
}

@media screen and (max-width: 439px) {
    .bookname {
        height: 60px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .content {
        height: 920px;
    }

    img {
        margin-right: 105px;
    }
    
    form {
        margin-right: 153px;
    }

    p {
        font-size: 10px;
    }
}

@media screen and (max-width: 401px) {
    .content {
        height: 1220px;
    }

    img {
        margin-right: 95px;
    }

    form {
        margin-right: 145px;
    }

    p {
        font-size: 10px;
    }
}

@media screen and (max-width: 354px) {
    h1 {
        margin-right: 30px;
    }
}

@media screen and (max-width: 337px) {
    h1 {
        margin-right: 50px;
    }

    .content {
        height: 1120px;
    }
}

footer {
    height: 50px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    bottom: 0;
}

footer p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}