* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-image: -webkit-linear-gradient(top, rgb(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -moz-linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -ms-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -o-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

header h1 {
    text-align: center;
}

@media screen and (max-width: 418px) {
    header h1 {
        font-size: 26px;
    }
}

.allcontent {
    padding: 10px 35px;
}

@media screen and (max-width: 418px) {
    .allcontent {
        font-size: 14px;
    }
}

.allcontent .top {
    text-align: center;
}

.allcontent .top img {
    width: 270px;
    height: 400px;
}

@media screen and (max-width: 418px) {
    .allcontent .top img {
        width: 135px;
        height: 200px;
    }
}

.allcontent .warning {
    font-weight: bold;
}

.booklist .list {
    list-style: none;
}

@media screen and (max-width: 418px) {
    .booklist .list {
        margin-right: -10px;
        padding-right: 0px;
    }
}

.booklist .list li {
    display: flex;
    flex-direction: row;
    line-height: 170px;
    align-items: center;
}

@media screen and (max-width: 607px) {
    .booklist .list li {
        flex-direction: column;
    }

    .booklist .list li .booktype {
        margin-top: -77px;
        margin-bottom: -130px;
    }

    .booklist .list li #printed {
        margin-top: -150px;
    }

    .booklist .list li #ppl {
        margin-top: -58px;
        margin-bottom: -70px;
    }
}

@media screen and (max-width: 418px) {
    .booklist .list li {
        flex-direction: column;
    }

    .booklist .list li .booktype {
        margin-top: -77px;
        margin-bottom: -130px;
    }

    .booklist .list li #printed {
        margin-top: -150px;
    }

    .booklist .list li #ppl {
        margin-top: -58px;
        margin-bottom: -70px;
    }
}

.booklist .list li #cover {
    width: 100px;
    height: 150px;
    margin-left: 20px;
}

@media screen and (max-width: 418px) {
    .booklist .list li #cover {
        margin-left: 0px;
    }
}

.booklist .list li .booktype {
    margin-left: 10px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

footer ul {
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0;
    list-style: none;
    text-align: center;
}

footer li a,
footer li a:active
footer li a:visited {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

footer p {
    font-size: 12px;
    margin-bottom: 1px;
}