* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 235);
    /* background-image: -webkit-linear-gradient(top, rgb(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -moz-linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -ms-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -o-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236)); */
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
    text-align: center;
}

#progress {
    height: 5px;
    width: 0;
    background-color: rgb(255, 155, 135);
    position: fixed;
    top: 0;
    z-index: 99999;
}

#fixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-bar {
    background-color: rgb(39, 39, 39);
}

.nav-bar #my-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-bar li {
    display: inline-block;
    margin: 20px 20px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 155, 135);
    cursor: pointer;
}

@media screen and (max-width: 531px) {
    li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 444px) {
    li a {
        font-size: 10px;
    }
}

.content {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px;
}

@media screen and (max-width: 930px) {
    .content {
        width: 95%;
    }
}

@media screen and (max-width: 560px) {
    .content {
        width: 100%;
        padding: 0, 20px;
    }
}

header {
    display: inline-block;
    width: 100%;
    height: 150px;
    text-align: center;
}

.hero h1 {
    margin-top: 100px;
    font-size: 45px;
    color: black;
}

@media screen and (max-width: 862px) {
    header {
        height: 100px;
        font-size: 16px;
    }
}

@media screen and (max-width: 703px) {
    .hero h1 {
        font-size: 28px;
        margin: 0, auto;
    }

    ul {
        margin-top: 20px;
    }
}

@media screen and (max-width: 518px) {
    header {
        margin-top: 10px;
        height: 100px;
        text-align: center;
    }

    .hero h1 {
        margin: 0, auto;
    }

    .nav-bar {
        flex-direction: column-reverse;
        align-items: center;
    }

    ul {
        margin: 0, auto;
        padding-right: 0;
    }

    /* #description {
        margin-top: 30px;
        font-weight: normal;
        font-size: 16px;
    } */
}

@media screen and (max-width: 453px) {
    header {
        margin-top: 30px;
        height: 100px;
    }
}

@media screen and (max-width: 384px) {
    header {
        margin-top: 0;
        height: 40px;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
        font-size: 12px;
    }

    .hero h1 {
        height: 30px;
        font-size: 20px;
    }

    #description {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}

table {
    margin-left: 20px;
    padding: 20px;
    width: 100%;
}

table tr {
    text-align: center;
}

table td {
    height: 400px;
}

table img {
    width: 210px;
    height: 300px;
    transition: 1s;
    box-shadow: 5px 5px 5px rgb(39, 39, 39, 0.7);
}

table img:hover {   
    transform: scale(1.3);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    table img {
        width: 140px;
        height: 200px;
    }

    table img:hover {
        transform: none;
    }
}

@media screen and (max-width: 647px) {
    table img {
        width: 105px;
        height: 150px;
    }
}

@media screen and (max-width: 518px) {
    table td {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    table img {
        width: 70px;
        height: 100px;
    }

    table td {
        font-size: 10px;
    }
}

@media screen and (max-width: 370px) {
    table img {
        width: 49px;
        height: 70px;
    }

    table td {
        font-size: 8px;
    }
}

.aboutpage {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
}

.topofpage {
    margin-bottom: 135px;
}

.pagetitle {
    float: right;
}

.pagetitle h1 {
    font-size: 35px;
}

.profileimage {
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#paragraph {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-bottom: 30px;
}

p a {
    color: blue;
    text-decoration: none;
}

p a:hover {
    color: purple;
    cursor: pointer;
}

#goup {
    background-color: rgb(173, 216, 230);
    margin-right: 700px;
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 10%;
}

#goup a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

#goup a:hover {
    color: blue;
    cursor: pointer;
}

@media screen and (max-width: 1089px) {
    .profileimage {
        width: 150px;
        height: 150px;
    }

    .pagetitle h1 {
        font-size: 30px;
    }

    button {
        margin-right: 600px;
    }
}

@media screen and (max-width: 955px) {
    button {
        margin-right: 500px;
    }
}

@media screen and (max-width: 846px) {
    button {
        margin-right: 400px;
    }
}

@media screen and (max-width: 712px) {
    .profileimage {
        width: 120px;
        height: 120px;
    }

    button {
        margin-right: 0;
    }
}

@media screen and (max-width: 560px) {
    .pagetitle h1 {
        font-size: 20px;
    }

    .aboutpage #paragraph {
        font-size: 14px;
    }

    button {
        height: 20px;
    }
}

@media screen and (max-width: 500px) {
    .aboutpage {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .topofpage {
        margin-bottom: 100px;
    }

    .pagetitle h1 {
        text-align: center;
    }

    .profileimage {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 380px) {
    .aboutpage #paragraph {
        font-size: 12px;
    }
}

footer {
    height: 50px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    bottom: 0;
}

/* footer ul {
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0;
    list-style: none;
    text-align: center;
}

footer li a,
footer li a:active
footer li a:visited {
    color: white;
    font-size: 14px;
} */

footer p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}